{% extends 'base.html' %}

{% block title %}
검을 칼집에 넣는 방법
{% endblock %}

{% block content %}
<h1>검을 칼집에 넣는 방법</h1>

{% for post in posts %}
<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
<p>{{ post.description }}</p>
{% endfor %}

<div>
    <span>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>

{% endblock %}